<% layout('layouts/home-theme') %>
    <!-- Breadcrumb Area -->
    <section class="breadcrumb-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>The General OverSeer</h2>
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="">Home</a></li>
                        <li class="list-inline-item"><i class="fa fa-long-arrow-right"></i>The General OverSeer</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb Area -->
    <!-- Welcome Area -->
    <section class="welcome-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="welcome-box">
                        <h4>PASTOR ENOCH ADEJARE ADEBOYE</h4>
                        <img src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,w_32/v1624608119/rccg-app/christ_t3h8gb.png" alt="">
                        <p>Pastor Enoch Adejare Adeboye is the General Overseer of the Redeemed Christian Church of
                            God (RCCG), an international
                            church organisation with active churches in over 130 countries. Prior to joining the
                            clergy, he was a university
                            lecturer in Mathematics, a subject in which he has a PhD. He assumed leadership of the
                            RCCG in January 1981 and is today
                            widely acknowledged as a spiritual leader to not only millions within the RCCG, but in
                            other parts of Christendom.</p>
                        <p>Pastor Adeboye’s many laudable contributions to the global dissemination of the Christian
                            faith and the development of
                            global civil society through various initiatives embarked upon by the RCCG
                            internationally have been recognised and
                            commended across the world. In December 2008, Newsweek, the international news magazine,
                            named him one of the 50 most
                            influential persons on the planet. He is married to Pastor (Mrs) Folu Adeboye and the
                            couple has four children.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-image">
                        <div id="daddy-go" class="card mb-3">
                            <img src="https://res.cloudinary.com/ihezurumba/image/upload/v1624600534/rccg-app/pastor-Adeboye_mv952s.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-center">Daddy GO</h5>
                                <p class="card-text text-muted text-capitalize text-center">Became the General Overseer
                                    in 1981</p>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Welcome Area -->