<% layout('layouts/home-theme') %>
    <!-- Breadcrumb Area -->
    <section class="breadcrumb-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>The satco</h2>
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="">Home</a></li>
                        <li class="list-inline-item"><i class="fa fa-long-arrow-right"></i>The satco</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb Area -->
    <!-- Welcome Area -->
    <section class="welcome-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="welcome-box">
                        <h4>Pastor Dipo Joseph</h4>
                        <img src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,w_32/v1624608119/rccg-app/christ_t3h8gb.png" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quod facere
                            praesentium odit. Repellat porro et
                            laudantium, atque similique distinctio.</p>
                        <p>Nemo quidem obcaecati aut possimus, voluptatibus dignissimos facilis sit. Qui.Lorem ipsum
                            dolor sit amet, consectetur
                            adipisicing elit. Eos ipsum, ut! Numquam nesciunt, ex obcaecati libero asperiores
                            reprehenderit ratione minus commodi
                            magni fugit non nemo quas dolorum nisi ducimus laboriosam!</p>
                    </div>
                    <h5 class="text-muted">RCCG India Mission Headquaters</h5>
                    <p>Strong Tower Parish Mira Road.</p>
                </div>
                <div class="col-md-6">
                    <div class="about-image">
                        <div id="daddy-go" class="card mb-3">
                            <img src="https://res.cloudinary.com/ihezurumba/image/upload/v1624600525/rccg-app/satico-pastor_sb7ios.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-center">Pastor Dipo Joseph</h5>
                                <p class="card-text text-muted text-capitalize text-center">The satco in Charge of India
                                    Mission</p>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Welcome Area -->