<% layout('layouts/home-theme') %>
    <!-- Breadcrumb Area -->
    <section class="breadcrumb-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>The Mummy GO</h2>
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="">Home</a></li>
                        <li class="list-inline-item"><i class="fa fa-long-arrow-right"></i>The Mummy GO</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb Area -->
    <!-- Welcome Area -->
    <section class="welcome-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="welcome-box">
                        <h4>The Mummy GO</h4>
                        <img src="/images/heartbeat.png" alt="">
                        <h6 class="card-title">PASTOR (MRS) FOLU ADEBOYE</h6>
                        <p>Pastor (Mrs) Folu Adeboye is the wife of the General Overseer of the Redeemed Christian
                            Church of God (RCCG) and is
                            greatly admired for her selfless service to the body of Christ and to society. Her
                            concern for the spiritual and
                            physical welfare of people, particularly the less privileged, is demonstrated in great
                            sacrifices of time, talent and
                            resources aimed at improving the wellbeing of vulnerable women and children across the
                            world</p>
                        <p>One of her ministry projects – Africa Missions – was set up in 1996 to promote the spread
                            of the gospel in Africa and in
                            other continents. The initiative also encourages the introduction of sustainable
                            development programmes meant to improve
                            the quality of life of vulnerable children, youths, women and families. She remains
                            focused on the call of God on her
                            life, especially through the helps and teaching ministries within and beyond the RCCG.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-image">
                        <div id="daddy-go" class="card mb-3">
                            <img src="https://res.cloudinary.com/ihezurumba/image/upload/v1624600522/rccg-app/pastor-Adeboye-folu_lwp8i1.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h6 class="card-title">PASTOR (MRS) FOLU ADEBOYE</h6>
                                <p class="card-text text-muted">Born in 13 July 1948</p>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Welcome Area -->