<% layout('layouts/home-theme') %>
    <!-- Breadcrumb Area -->
    <section class="breadcrumb-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Our Beliefs</h2>
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="">Home</a></li>
                        <li class="list-inline-item"><i class="fa fa-long-arrow-right"></i>Our Beliefs</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb Area -->

    <!-- Service Area -->
    <section class="about-service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="service-top text-center">
                        <h4>Our Core Values</h4>
                        <img src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,w_32/v1624608119/rccg-app/christ_t3h8gb.png" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eius inventore magni quod
                            voluptate, molestiae eos odio illo.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_40,w_42/v1623316463/images/016-bible_cmv4hs.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>The Bible</h6>
                            <p>We believe that the entire Scriptures, both Old and New Testaments, were written by the
                                inspiration of the Holy Spirit
                                (2 Tim.3). That the Bible is the written and revealed Will of God..</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/030-pope_lsoaq2.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>About GOD</h6>
                            <p>We believe that there is only one God, the creator of both visible and invisible
                                creatures (Gen1:1, Psa86:9-10; Isa
                                43:10-11; John1:1-3). Only God will be in existence forever (Ez.3:14)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/031-christ_uxfssd.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>ABOUT JESUS CHRIST</h6>
                            <p>We believe that Jesus Christ is the Son of God who took away our sins and is the Saviour
                                of the world. (Is. 53:4-10; I
                                Pet. 2:24; John 10:11; Gal. 3:13, Matt.20:28; I Cor.15:3)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/025-pigeon_ddrqxe.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>ABOUT THE HOLY SPIRIT</h6>
                            <p>We believe that the Holy Spirit is the third Person in the TRINITY. He has the same
                                power, the same glory with the
                                Father and the Son (John 14:16-17; John 15:26; Matt. 3:16; Acts 13:24)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/008-angel_jwxsfr.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>ABOUT THE TRINITY</h6>
                            <p>We believe that God the Father, God the Son, and God the Holy Ghost are one God, but made
                                of three persons hence they
                                are ONE IN TRINITY (Gen. 1:16-29; Matt. 3:16-17; Matt. 18:19).</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/devil_1_jt0iuf.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>ABOUT THE DEVIL</h6>
                            <p>We believe that there is a devil who seeks the downfall of every man. He brought
                                sickness, sin and death into the world
                                (Gen. 3:1-16). He seeks the destruction believers of Jesus</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/038-man_hvzdti.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>ABOUT MAN</h6>
                            <p>We believe that God formed man from the dust of the ground and breathed into his nostrils
                                the breath of life(Gen. 2:7).
                                Man has body, soul and spirit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/021-christianity_jihcdi.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>REPENTANCE UNTO GOD</h6>
                            <p>We believe that repentance is the sorrow a person experiences for their sins, causing
                                them to make the decision to
                                abstain from such sins (Acts 3:19; 20:21; II Cor. 7:10; Mark 1:15).</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/035-cradle_vspnj0.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>JUSTIFICATION OR NEW BIRTH</h6>
                            <p>We believe that justification is by God’s grace wherein we are cleansed from our sins and
                                are able to stand before God
                                as though we had never sinned (Acts 13:39; Rom. 3:25-26; Rom 5:1)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/015-sheep_tdkird.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>SANTIFICATION (HOLINESS)</h6>
                            <p>We believe that sanctification is the grace of God by which our souls are progressively
                                cleansed. (John 17:15-17; I
                                Thess. 4:3; Heb. 2:11;12:14; 13:12, 1John 1:7; Luke1:74-75)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/028-christianity_unikcj.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>WATER BAPTISM</h6>
                            <p>We believe that all members of this Church should be baptised by immersion in water in
                                the name of the Father, of the
                                Son and of the Holy Spirit. (Rom. 6:1-23; Col.2: 1-13, Gal. 6:14).</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/014-cross_rnumvk.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>BAPTISM OF THE HOLY SPIRIT</h6>
                            <p>We believe that all born-again souls should ask for the Holy Spirit from above, just as
                                the Apostles were ordered to
                                wait in Jerusalem until they were filled from above. (Acts 5; Acts 8)</p>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/029-pray_md06dn.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>ABOUT PRAYER</h6>
                            <p>We believe that a Christian without condemnation of heart has a right to thank God in
                                adoration and in prayer always.
                                The Holy Spirit also helps us to pray according to the will of God</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/023-blood_t837ed.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>DIVINE HEALING</h6>
                            <p>We believe that healing without medicine is BiblicalThe Lord Jesus commanded us to go
                                into the world not just to teach
                                His Word to the nations but to also heal the sick ( Mark 16:15-18).</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/020-marriage_fljdjd.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>HOLY MATRIMONY</h6>
                            <p>We believe that marriage is a honourable institution (Heb. 13:4). Therefore, all those
                                who wish to
                                marry can do so in
                                the church</p>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/005-goblet_ks1nqc.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>HOLY COMMUNION OR THE LORD’S SUPPER</h6>
                            <p>We believe that the Holy Communion was instituted by our Lord Jesus Christ before His
                                death and He commanded Us to
                                continue to do it till He comes back again(I Cor. 11:23-30).</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/019-church_w67cdk.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>THE CHURCH OF GOD</h6>
                            <p>We believe that the born-again souls are the Church of God (Eph. 1:22; Col. 1:1-18;
                                Eph3:10; 5:24-29). The Church is the
                                assembly of all believers, the sanctified souls in Christ Jesus</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/009-candle_fzhjnd.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>PROPHECY IN THE CHURCH</h6>
                            <p>We believe in all the prophecies in the Bible. Also, the gift of prophecy can be received
                                by believers by inspiration of
                                the Holy Spirit (I Cor. 14:29 I Thess. 5:20)</p>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/027-noahs_ark_tfnr8t.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>THE SECOND COMING OF CHRIST</h6>
                            <p>We believe in the Second coming of Jesus Christ; that it will be in physical form and
                                will be visible to all in the
                                manner as He was seen ascending up to heavens (Acts 1:9-11; John 14:3)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img
                                    src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_32,w_32/v1623316463/images/050-christmas_sitowu.png"
                                    alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>NEW HEAVEN AND NEW EARTH</h6>
                            <p>We believe that after God’s judgement, this wicked world will be removed. God will create
                                a new Heaven and a New Earth
                                (Matt. 24:35; II Peter 3:12-13; Rev. 21:1-3)</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-md-6">
                    <div class="service-box d-flex">
                        <div class="box-icon">
                            <span><img src="images/service-9.png" alt=""></span>
                        </div>
                        <div class="box-content">
                            <h6>BAPTISM OF THE HOLY SPIRIT</h6>
                            <p>We believe that all born-again souls should ask for the Holy Spirit from above, just as
                                the Apostles were ordered to
                                wait in Jerusalem until they were filled from above. (Acts 5; Acts 8)</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- End Service Area -->