<% layout('layouts/home-theme') %>
    <!-- Breadcrumb Area -->
    <section class="breadcrumb-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Our History</h2>
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="">Home</a></li>
                        <li class="list-inline-item"><i class="fa fa-long-arrow-right"></i>Our history</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb Area -->
    <!-- Service Details -->
    <section class="service-details">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-1">
                    <div class="sd-box">
                        <div class="sd-top">
                            <img src="images/sd-img.jpg" alt="" class="img-fluid">
                            <h4>Our History</h4>
                            <p>The Redeemed Christian Church of God (RCCG) was founded in 1952 in Nigeria, following a
                                divine
                                revelation received by a
                                young man whose heart had been set ablaze with an unquenchable desire to personally
                                encounter the
                                Supreme Being, in
                                spite of a prevailing environment of nature worship. Seeking a fervent relationship with
                                the God he
                                still knew little
                                about at the time, Reverend Josiah Olufemi Akindayomi was fired by the intuition that
                                there was a
                                greater power than
                                those commonly known to his people. This pursuit of God led him to the Church Missionary
                                Society
                                where he was baptised
                                in 1927. Yet, remaining largely spiritually unfulfilled, he later joined the Cherubim
                                and Seraphim
                                Church, an indigenous
                                African Church that emerged from the Anglican (Episcopal) Church in Nigeria.</p>
                            <p>Reverend Akindayomi’s call as a servant of God began whilst still a member of the
                                Cherubim and
                                Seraphim Church, a
                                prompting he ignored for several years, until repeated business failures brought him to
                                the point of
                                repentance. This
                                season became the turning-point for him in his relationship with God. Humbled, he made
                                the decision
                                to totally yield to
                                God and His purposes, seeking divine confirmation of a call to ministry. The
                                confirmation he sought
                                eventually came
                                through the Holy Scriptures. By 1947, he had also become increasingly concerned about
                                some of the
                                doctrinal beliefs of
                                the Cherubim and Seraphim Church to which he belonged and became totally persuaded to
                                leave in 1952.</p>
                        </div>
                        <div class="sd-mdl">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="https://res.cloudinary.com/ihezurumba/image/upload/w_1024/h_340/v1619630301/founder_fbbcad.png"
                                        alt="" class="img-fluid">
                                </div>
                                <div class="col-md-6 padding-fix-l">
                                    <p>The House Fellowship he later set up in Lagos, Nigeria soon became the hub of
                                        spiritual
                                        conversions and remarkable
                                        miracles, causing the group’s membership to grow rapidly. During this period,
                                        Rev Akindayomi
                                        who couldn’t read or
                                        write
                                        English not having had a formal education, received a vision in which the words
                                        “The
                                        Redeemed Christian Church of
                                        God”
                                        were written, being the name of the Church that the Lord would establish through
                                        him. </p>
                                </div>
                                <div class="col-md-12">
                                    <p>By
                                        supernatural enablement,
                                        Rev
                                        Akindayomi was able to write these words spelling out the name of the Church. In
                                        the course
                                        of that spiritual
                                        encounter,
                                        God also revealed to him that the Church would spread to the ends of the earth
                                        and that when
                                        the Lord Jesus Christ
                                        will
                                        appear in glory at the end of the age, He would meet the RCCG. Without doubt,
                                        these were
                                        extraordinary prophecies to
                                        a
                                        man with no formal education or great means. Yet, he did not doubt the promises
                                        of the Lord
                                        but set out in faith to
                                        do
                                        His will.</p>
                                    <p>The RCCG was, therefore, set up on the basis of this covenant between God and
                                        man: as long as the
                                        members of the RCCG
                                        remain obedient to God’s Word, the Lord has promised to always miraculously meet
                                        the needs of the
                                        Church.</p>
                                    <p>Rev Akindayomi remained faithful to this heavenly vision until he went to be with
                                        the Lord in 1980.
                                        Prior to this,
                                        sometime in the early 1970s, he had received a message from the Lord about his
                                        spiritual successor,
                                        a young educated man
                                        who at the time was not a member of the Church. Hence, when Dr Enoch Adejare
                                        Adeboye, a young
                                        university lecturer in
                                        Mathematics became a member of the Church in 1973, Rev Akindayomi spiritually
                                        discerned that this
                                        was the person the
                                        Lord had spoken about. Dr Adeboye soon became involved in the activities of the
                                        Church and began to
                                        serve as an
                                        interpreter for Rev Akindayomi, translating his live sermons from Yoruba to
                                        English. The young man
                                        was ordained a pastor
                                        of the church in 1975.</p>
                                    <p>As revealed by the Lord, Pastor E.A. Adeboye became the General Overseer of the
                                        RCCG in 1981. Under
                                        his leadership, the
                                        RCCG has begun to experience the phenomenal growth promised by the Lord to his
                                        predecessor. A man
                                        devoted to fervent
                                        prayer and known for his unwavering emphasis on holy living as the foundation of
                                        a fruitful and
                                        enduring relationship
                                        with God, Pastor Adeboye is being used by God to bring the message of the gospel
                                        to nations around
                                        the world. In spite
                                        of the miraculous move of God in his ministry, however, Pastor Adeboye’s humble
                                        disposition is
                                        widely acknowledged, thus
                                        making him a role model for many the world over. In December 2008, Newsweek, the
                                        international
                                        newsmagazine, named him
                                        one of the 50 most influential persons on the planet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="sd-head d-flex">
                            <div class="head-img">
                                <img src="https://res.cloudinary.com/ihezurumba/image/upload/w_300/h_200/v1619634206/62-628535_kings-throne-redeemed-christian-church-logo_o6bv4p.jpg"
                                    alt="">
                            </div>
                            <div class="head-box">
                                <h6>Dr. David Show</h6>
                                <span>Head of Department</span>
                                <p>The RCCG is currently active across continents with thousands of parishes, of which a
                                    little
                                    over 25 are in the India Mission.</p>
                                <ul class="list-unstyled list-inline">
                                    <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    <li class="list-inline-item"><a href=""><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="sd-widgets">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="service-widget">
                                    <h5>Other Services</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="">Medicine Department</a></li>
                                        <li><a href="">Cardiology Department</a></li>
                                        <li><a href="">Neurology Department</a></li>
                                        <li><a href="">Urology Department</a></li>
                                        <li><a href="">Gastrology Department</a></li>
                                        <li><a href="">Dental Care Department</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="shedule-box">
                                    <div class="open-hr">
                                        <h6><i class="fa fa-clock-o"></i>Opening Hours</h6>
                                        <ul class="list-unstyled">
                                            <li>Monday - Friday <span>8:30am - 9:00pm</span></li>
                                            <li>Saturday <span>10:30am - 2:30pm</span></li>
                                            <li>Sunday <span>10:00am - 5:00pm</span></li>
                                        </ul>
                                    </div>
                                    <div class="help-box">
                                        <h6><i class="fa fa-pencil-square-o"></i>Need Help?</h6>
                                        <p>Lorem ipsum dolor sit amet, consecte Molestiae adipisic elit.</p>
                                        <a href="">Make an Appointment</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="appoint-widget">
                                    <h5>Book an Appointment</h5>
                                    <form action="#">
                                        <input type="text" name="name" placeholder="Full Name" required>
                                        <input type="text" name="phone" placeholder="Phone Number" required>
                                        <input type="text" name="email" placeholder="Email Address" required>
                                        <input type="text" id="datetimepicker" data-toggle="datetimepicker"
                                            data-target="#datetimepicker" name="appdate" placeholder="Appointment Date">
                                        <textarea name="message" placeholder="Message" required></textarea>
                                        <button type="submit">Book Now</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- End Service Details -->