<% layout('layouts/boilerplate') %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid"
                    src="https://res.cloudinary.com/ihezurumba/image/upload/w_300/h_200/v1619634206/62-628535_kings-throne-redeemed-christian-church-logo_o6bv4p.jpg">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Name of the Ministry</h5>
                    <p class="card-text">Description</p>
                    <small class="text-muted"></small>
                    <a class="btn btn-primary" href="">The Ministry Page</a>

                </div>

            </div>

        </div>

    </div>